<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <title>Загрузить файл</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
</head>
<body>
<header th:insert="~{../static/header :: header}"></header>
<div class="container mt-5">
    <h1 class="mb-4">Загрузка шаблона документа</h1>
    <form method="post" enctype="multipart/form-data" action="/upload">
        <div class="mb-3">
            <label for="file" class="form-label">Выберите файл шаблона (только .docx):</label>
            <input type="file" class="form-control" id="file" name="file" accept=".docx" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Загрузить</button>
    </form>
    <div th:if="${files}" class="alert alert-success mt-3" role="alert">
        <h3 class="mt-4">Выбранные файлы</h3>
        <ul>
            <li th:each="file : ${files}" th:text="${file.originalFilename}"></li>
        </ul>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <div id="tagInputs" class="mt-4" th:if="${fileUploaded}">
        <h2 class="mb-3">Значения тегов</h2>
        <form method="post" action="/generate">
            <div th:if="${tags}">
                <div th:each="tag : ${tags}">
                    <div class="mb-3">
                        <label th:for="${'tag_' + tag}" th:text="${tag}" class="form-label">Тег</label>
                        <input type="text" class="form-control" th:attr="id='tag_' + ${tag}, name='tag_' + ${tag}, value=''">
                    </div>
                </div>
            </div>
            <input type="hidden" name="tempFilePath" th:value="${tempFilePath}">
            <button type="submit" class="btn btn-primary">Сгенерировать</button>
        </form>
    </div>
</div>
<div th:insert="~{../static/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>